/* 背景色とフォント色のダークモード対応 */
body.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

body.dark-mode .card {
  background-color: #34495e;
  color: #ecf0f1;
}

body.dark-mode .btn-outline-secondary {
  border-color: #ecf0f1;
  color: #ecf0f1;
}

body.dark-mode .btn-outline-secondary:hover {
  background-color: #ecf0f1;
  color: #34495e;
}

/* レスポンシブデザインの調整 */
@media (max-width: 576px) {
  .card-title {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  #toggle-theme {
    width: 100%;
  }
}
